.body-container {
    padding: 2em;
    background-image: url("./123.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(30, 17, 17, 0.387);
    padding: 1.5em;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 3em;
}

.dropdown {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.672);
    color: white;
    font-weight: bold;
    outline: none;
    font-size: 1em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    border: 0;
    border-right: 1.5px solid rgba(195, 191, 191, 0.41);
}

::placeholder {
    color: white;
    opacity: 0.6;
}



.input-element {
    border: 0;
    width: 30vw;
    padding: 1em;
    outline: none;
    background-color: rgba(0, 0, 0, 0.672);
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-right: 1.5px solid rgba(195, 191, 191, 0.41);
}

.add-btn {
    padding: 1em;
    cursor: pointer;
    border: 0;
    font-size: 0.7em;
    background-color: rgba(0, 0, 0, 0.672);
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card-container {
    background-color: rgba(255, 255, 255, 0.844);
    border-radius: 10px;
    width: 30%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.list-container {
    margin: 0;
    padding: 1em;
    background-color: #1540add5;
    border-radius: 10px;
    height: 38vh;
    overflow: auto;

}

.heading {
    text-align: center;
    font-family: Helvetica;
    color: #08173f;
    font-size: 2em;
    font-weight: 900;
    margin-top: 0;
}

.span-heading {
    font-weight: 500;
    color: rgba(30, 17, 17, 0.771);
}

.list-item {
    list-style-type: none;
    padding: 0.5em;
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    margin-right: 0.7em;
    accent-color: white;
}

.label-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.remove-button {
    border:0;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.761);
    color: rgba(255, 255, 255, 0.752);
    font-weight: 900;
    font-size: 0.5em;
    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    align-self: flex-end;
}

.order-button{
    border:0;
    align-self: flex-end;
    margin-top: 10px;
    color: #1540adec;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
}

.cards-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}